################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechnicalAssessment-task-1/bin/Debug/net5.0
/.vs/TechnicalAssessment-Task1
/TechnicalAssessment-task-1/.vs
/TechnicalAssessment-task-1/obj
